.nearbycities-container {
  display: flex;
  gap: 15px;
  padding: 20px;
  overflow-x: auto;
  width: 100%;
}

.nearby-city-button {
  padding: 10px;
  background-color: rgba(194, 214, 225, 0.695);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: auto;
}
.nearby-city-button:hover {
  background-color: #0057b3a2;
}
@media only screen and (min-width: 450px) {
  .nearbycities-container {
    width: 94%;
  }
}
