.naerbycities-container {
  display: flex;
  gap: 15px;
  padding: 20px;
  overflow-x: auto;
  width: 100%;
}

.nearby-city-button {
  padding: 10px;
  background-color: rgba(215, 220, 250, 0.278);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: auto;
}
.nearby-city-button:hover {
  background-color: #0057b3a2;
}
