.App {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  background-image: url("./miscel/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.loading-container {
  width: 150px;
  height: 150px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.loading-gif {
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
