.App {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 110vh;
}
.loading-container {
  width: 150px;
  height: 150px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.loading-gif {
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(36, 36, 36);
}
svg {
  font-size: 30px;
  color: rgba(20, 20, 20, 0.897);
}
.title {
  font-size: 30px;
}
.upper-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 450px) {
  .upper-block {
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
  }
}
